.btn-custon {
    background-color: #FFD200;
    color: white;
}

.btn-custon:hover {
    background-color: #ffe055;
    color: white;
}

.btn {
    border-radius: 10px; 
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3); 
    display: inline-block;
    transition: transform 0.3s ease-in-out; 
}

.btn:hover {
    transform: scale(1.05);
}