/* styles.css */
.background-container {
    position: relative;
    height: 100vh; /* 100% da altura da viewport */
    background-image: url('../site/img/homeBackground.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-container {
    text-align: center;
    color: white;
    position: relative; /* Certifique-se de que a posição seja relativa */
    z-index: 2; /* Coloque o texto acima da imagem de fundo */
}

.title-container {
    background-color: rgba(255, 210, 0, 0.7); /* Cor de fundo com transparência para o título */
    padding: 20px;
    border-radius: 5px;
    display: inline-block; /* Garante que o contêiner se ajuste ao conteúdo */
}

.title {
    font-size: 4em;
    margin-bottom: 10px;
    text-shadow: 3px 3px 3px #000;
    font-weight: bold;
}

.subtitle {
    font-size: 2.5em;
    text-shadow: 3px 3px 3px #000;
    font-weight: bold;
}

.bar {
    width: 100%;
    height: 2px;
    background-color: white;
    margin: 5px 0; /* Espaçamento acima e abaixo da barra */
}