table {
    width: 100%;
    border-collapse: collapse;
    margin-left: 10px;
    margin-right: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    text-align: center;
    background-color: #8F9FB0;
    color: white;
}

td {
    text-align: center;
}

td.left {
    text-align: left;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
    color: #000;
}

.clickable-row:hover {
    background-color: #f8f9fa;
}

.ver-comentario {
    color: blue;
}

.ver-comentario:hover {
    text-decoration: underline;
    color: blue;
}